apiVersion: v1
kind: Secret
metadata:
  name: churnflow-api-secrets
  namespace: churnflow
type: Opaque
stringData:
  DATABASE_URL: "postgresql://postgres:postgres_secure_password@postgres-service:5432/mlflow"
  AWS_ACCESS_KEY_ID: "EXAMPLE_AWS_ACCESS_KEY_ID"
  AWS_SECRET_ACCESS_KEY: "EXAMPLE_AWS_SECRET_ACCESS_KEY"
